.hero {
    border-bottom: 5px solid #ccc;
    background-color: $white;
    height: 300px;
    box-shadow: 0px 2px 0px 0px #575555;
    .hero-container {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1000;
    }
    .hero-image {
        float: left;
        position: relative;
        z-index: -10000;
        top: 0px;
        left: percentage(9/12);
        max-width: 350px;
        max-height: 350px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        border-radius: 0 0 50% 50%;
        border: 3px solid $white;
        border-top: 0;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        img {
            border: 0;
            padding: 0;
            margin: 0;
            position: relative;
            left: -220px;
            top: -70px;
            height: auto;
            max-width: 800px;
        }
    }
    .hero-title {
        float: left;
        position: absolute;
        top: 80px;
        left: 10px;
        font-family: Passion One, sans-serif;
        font-size: 5.7em;
        color: $content-orange;
        -webkit-text-stroke: 1.5px $white;
        text-shadow: 3px 2px 0px rgba(0,0,0,0.4);
    }
    .hero-subtitle {
        float: left;
        position: absolute;
        top: 180px;
        left: 10px;
        font-family: Open Sans, sans-serif;
        font-size: 3em;
        font-weight: normal;
        color: $content-dark-blue;
    }
    hr {
        border: 5px solid pink !important;
    }
}

// MOBILE
@media only screen and (max-width: $grid-mobile-breakpoint) {
    .hero {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        height: auto;
        .col-2 {
            display: none;
        }
        .hero-container {
            clear: both;
            height: auto;
        }
        .hero-image {
            float: none;
            position: relative;
            left: auto;
            top: -100px;
            max-width: 100%;
            img {
                max-width: $grid-mobile-breakpoint;
                margin: 0 auto;
                left: -180px;
                top: 50px;
            }
        }
        .hero-title {
            font-size: 4.5em;
            display: block;
            width: 100%;
            text-align: center;
            top: 25px;
            left: 0;
            line-height: 1em;
        }
        .hero-subtitle {
            float: none;
            position: relative;
            font-size: 2.5em;
            display: block;
            width: 100%;
            text-align: center;
            clear: both;
            left: 0px;
            top: -50px;
            clear: both;
        }
    }
}