// Grid
$grid-columns: 12;
$grid-mobile-breakpoint: 768px;

//Common Colors
$white: #FFFFFF;
$redorange: #dc4205;

// Specific Colors
$body-bg: #FFFFFF;

$header-bg: #137593;
$header-top-border: #373738;
$header-bottom-border: #004c64;

$nav-blue: #0e586f;
$nav-dark-blue: #0b4253;

$content-light-blue: #1a9ec5;
$content-dark-blue: #137593;
$content-orange: $redorange;

$font-blue: #177794;

$footer-bg: #137593;
$footer-top-border: #055269;